<launch>
    <arg name="use_camera" default="false" doc="是否启动 Gemini335L 相机和点云感知链路"/>
    <arg name="use_fake_execution" default="false" doc="是否使用 MoveIt 假执行"/>
    <arg name="use_rviz" default="true"/>
    <arg if="$(arg use_fake_execution)" name="moveit_controller_manager" value="fake"/>
    <arg unless="$(arg use_fake_execution)" name="moveit_controller_manager" value="simple"/>
    <arg name="config_file" default="$(find dm_arm_interface)/config/config.yaml"/>
    <arg name="hardware_config_file" default="$(find dm_hw)/config/dm_controller.yaml"/>
    <arg name="hardware_serial_port" default="/dev/ttyACM0"/>
    <arg name="hardware_baudrate" default="921600"/>

    <param name="robot_description" textfile="$(find dm_arm_description)/urdf/DM-Arm-Description.urdf"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher"
          type="robot_state_publisher" output="screen"/>

    <group unless="$(arg use_fake_execution)">
        <include file="$(find dm_hw)/launch/dm_controller.launch">
            <arg name="config_file" value="$(arg hardware_config_file)"/>
            <arg name="serial_port" value="$(arg hardware_serial_port)"/>
            <arg name="baudrate" value="$(arg hardware_baudrate)"/>
        </include>
    </group>

    <group if="$(arg use_fake_execution)">
        <node name="joint_state_publisher" pkg="joint_state_publisher"
              type="joint_state_publisher" output="screen">
            <param name="use_gui" value="false"/>
            <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
        </node>
    </group>

    <include file="$(find dm_arm_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>
        <arg name="fake_execution_type" value="interpolate"/>
        <arg name="load_3d_sensors" value="$(arg use_camera)"/>
        <arg name="info" value="true"/>
    </include>

    <group if="$(arg use_camera)">
        <include file="$(find dm_arm_camera)/launch/dm_arm_camera.launch" />
        <include file="$(find dm_arm_perception)/launch/dm_arm_perception.launch" />
    </group>

    <node pkg="dm_arm_interface" type="dm_arm_start" name="dm_arm_start" output="screen"
          launch-prefix="bash -c 'sleep 5; $0 $@'">
        <rosparam command="load" file="$(arg config_file)" />
        <param if="$(arg use_fake_execution)" name="start/eef/enabled" value="true"/>
        <param if="$(arg use_fake_execution)" name="start/eef/type" value="two_finger_gripper"/>
        <param if="$(arg use_fake_execution)" name="start/eef/name" value="end"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" if="$(arg use_rviz)"
          args="-d $(find dm_arm_moveit_config)/launch/moveit.rviz"
          launch-prefix="bash -c 'sleep 5; $0 $@'"/>
</launch>
